In [ ]:
print("Hello,World!")

Hello,World!

In [ ]:
a=7
b=2.5
#Addition
c=a + b
print("The sum of two number is",c)

The sum of two number is 9.5

In [ ]:
t= float(input("Enter first number:" ))
a= float(input("Enter second number:"))
b=t*a
print("The product of two number is",b)

Enter first number:25
Enter second number:76
The product of two number is 1900.0